---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
// console.log(blok);
---

<li class="flex md:flex-row flex-col md:gap-12" {...storyblokEditable(blok)}>
  <div class="aspect-[3/2] flex-1">
    <img
      class="card-image w-full h-full object-cover rounded-xl"
      src={blok.image.filename}
      alt={blok.image.alt}
    />
  </div>
  <div class="card-content md:w-80 flex flex-col gap-4 md:py-12 py-4">
    <h3 class="text-neutral-200 md:text-4xl text-2xl font-semibold">
      {blok.title}
    </h3>
    <p class="text-neutral-400 md:text-lg mb-2 text-pretty">
      {blok.description}
    </p>
    <div class="flex gap-2">
      {blok.links?.map((blok: any) => <StoryblokComponent blok={blok} />)}
    </div>
  </div>
</li>

<style is:global>
  @keyframes show-image {
    from {
      opacity: 0;
      scale: 80%;
    }

    to {
      opacity: 1;
      scale: 100%;
    }
  }

  @keyframes slider-right {
    from {
      opacity: 0;
      transform: translateX(100px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slider-left {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @media screen and (min-width: 768px) {
    /* Estilos CSS para pantallas mayores a 768px */
    ul li:nth-child(odd) {
      @apply flex-row-reverse;
    }

    ul li:nth-child(odd) .card-content {
      animation: slider-left linear both;
      animation-timeline: view();
      animation-range: entry 20% cover 40%;
    }

    ul li:nth-child(even) .card-content {
      animation: slider-right linear both;
      animation-timeline: view();
      animation-range: entry 20% cover 40%;
    }

    .card-image {
      animation: show-image linear both;
      animation-timeline: view();
      animation-range: entry 20% cover 40%;
    }
  }
</style>
